.searchResultsSection {
  padding: 1rem;
}

.searchResultsTitle {
  font-size: var(--font-size-extra_large);
  font-weight: 200;
  margin-bottom: 1rem;
}

.searchResultsQuery {
  font-weight: bold;
  text-transform: capitalize;
}

.searchResultsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem;
}
