
.main__grid_left_side {
  display: grid;
  grid-template-columns: 1fr 25vw;
  height: calc(100vh - 80px);
  padding: 1rem;
  box-sizing: border-box;
}

.main__grid_right_side {
  display: grid;
  grid-template-columns: 1fr;
  height: calc(100vh - 80px);
  padding: 1rem;
  box-sizing: border-box;
}

.main__grid_search_results {
  overflow-y: auto;
  height: 100%;
  background-color: #f4f4f4;
  border-radius: 8px;
  padding-top: 80px;
  padding-bottom: 200px;
  scrollbar-width: none;


}


.main__grid_search_results::-webkit-scrollbar, .main__grid_song_details::-webkit-scrollbar{
  display: none;
}


.main__grid_song_details {
  overflow-y: auto;
  scrollbar-width: none;
  height: 100%;
  background-color: #fff;
  border-left: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.2);
  padding-top: 60px;
  padding-bottom: 200px;
}
