.overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1000;
  pointer-events: none;
}

.modal {
  background-color: white;
  width: 100%;
  max-width: 500px;
  border-radius: 16px 16px 0 0;
  padding: 1rem;
  box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.2);
  pointer-events: all;
  transform: translateY(100%);
  animation: slideUp 0.4s ease-out forwards;
  position: relative;
}

.modal.closing {
  animation: slideDown 0.4s ease-out forwards;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}
