.playProgressWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  width: 100%;
}

.playPauseButton {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.progressWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.timeLabels {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  gap: 20px;
  font-size: 0.75rem;
  color: #555;
  align-items: baseline;
}

.progressBar {
  width: 100%;
  height: 6px;
  outline: none;
  border-radius: 0;
}

input[type='range'] {
  overflow: hidden;
  appearance: none;
  background-color: rgb(219, 219, 219);
}

input[type='range']::-webkit-slider-runnable-track {
  height: 10px;
  -webkit-appearance: none;
  color: #13bba4;
  margin-top: -1px;
}

input[type='range']::-webkit-slider-thumb {
  width: 10px;
  -webkit-appearance: none;
  height: 10px;
  cursor: pointer;
  background: var(--color-primary);
  box-shadow: -80px 0 0 80px var(--color-primary);
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

.svg_player {
  width: 1.5rem;
  aspect-ratio: 1/1;
  color: gray;
}
